{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue"
      }
    },
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "printWidth": 80
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ]
}
